.body {
  align-self: center;
}

.modalBody{
  height: 65vh;
}

.modalFooter {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

}

.modalInput {
  width: 100%;
  justify-content: flex-start;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.input{
  width: 100%;
}

.tableFooter {
  text-align: center;
}