.body {
  align-self: center;
}

.modalBody {
  min-height: 70vh;
}

.modalFooter {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.modalInput {
  width: 100%;
  justify-content: flex-start;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

.input{
  width: 100%;
}

.quantityInput {
  width: 100%;
  border: none;
  outline: none;
}

.tableFooter {
  text-align: start;
}

.containerLoteName {
  display: inline-block;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  margin-bottom: 1rem;
}
