.productFileComparatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 16px;
}

.inputFileContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputFileName {
  width: auto;
  min-width: 50%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.inputFileName p {
  padding: 8px 6px;
  margin: 0 auto;
  text-align: left;
  font-size: 1rem;
}

.inputFilePlaceholder {
  color: #c5c4c4;
}

.inputFileLabel {
  padding: 8px 6px;
  width: auto;
  height: auto;
  background-color: black;
  color: white;
  font-size: 1rem;
  text-align: center;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid black;
  display: block;
  cursor: pointer;
  margin: 0 0 0 -4px;
}

.downloadAndClearButtons {
  display: flex;
  justify-content: center;
  gap: 16px;
}