.txtFileImage {
  text-align: center;
}

.buttonsIcon {
  cursor: pointer;
  text-align: center;
  transition: 0.2s all;
}

.buttonsIcon:active {
  transform: scale(0.9);
}

td {
  vertical-align: middle !important;
  
}